	* {
	padding: 0;
	margin: 0;
}

.credit {
	background-color: #efefef;
}

.testCards {
	background-color: aqua;
	width: 500px;
	height: 200px;
	display: flex;
	justify-content: center;
}

#card-body {
	color: white;
	padding: 1rem 1.25rem;
	background-color: #999999;
	width: 500px;
	
}

#card-body h4 {
	margin-bottom: 1em;
}

#information {
	display: flex;
}

input {
	padding: 0.5em;
	width: 300px;
}

.validate {
	display: flex;
	align-items: center;
	padding: 0 1em;
}

button {
	padding: 0.5em;
}

button:hover {
	cursor: pointer;
}
