	* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: 'Source Sans Pro', sans-serif;
}

.credit {
	background-color: #264653;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
}

.testCards {
	background-color: #2a9d8f;
	width: 1000px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 2em;
}

.cardInfo {
	width: 200px;
	height: 150px;
	background-color: #e9c46a;
	color: white;
}

.testCard {
	text-align: center;
	margin-top: 2em;
}

#card-body {
	color: white;
	padding: 1rem 1.25rem;
	background-color: #8d99ae;
	width: 500px;
	height: 100px;
}

#card-body h4 {
	margin-bottom: 1em;
}

#information {
	display: flex;
}

input {
	padding: 0.5em;
	width: 300px;
}

.validate {
	display: flex;
	align-items: center;
	padding: 0 1em;
}

button {
	padding: 0.5em;
}

button:hover {
	cursor: pointer;
}
